<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="${basedir}/data/logs/${date:format=yyyy-MM-dd}.log" />
		<target name="logconsole" xsi:type="ColoredConsole"
        layout="${shortdate}|${level:uppercase=true}|${logger}|${message}" >
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
		<target name="network" xsi:type="Network" address="tcp://localhost:5555" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="network" />
		<logger name="*" minlevel="Warn" writeTo="logfile" />
	</rules>
</nlog>